
#navbar{
    color: aliceblue;
}
.jumbotron{
    font-family: 'Cormorant Garamond', serif;

    
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font font-weight: bolder;
   

}

@media (max-width: 2000px){
body {
   background-image: url("../images/ameer-basheer-Xrx3WWyrwes-unsplash.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
   width: 100%;
   /* position: relative; */
   font-family: 'Cormorant Garamond', serif;
}
}

@media (max-width: 1400px){
    body {
        background-image: url("../images/ameer-basheer-Xrx3WWyrwes-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
        width: 100%;
    }
}

img {
    height: 350px;

}
p{
    font-family: 'Roboto', sans-serif;
}

#game {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.nav-link {
    font-size: 24px;
}